body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home.css */

.home-container {
  padding: 1rem;
}

.article-list {
  width: 100%;
  max-width: 800px; /* Adjust this to ensure articles don't stretch too wide */
  margin: 0 auto; /* Center the list with automatic margins */
}

.header {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  padding: 1rem 0; 
}


.button-group {
  display: flex;
  justify-content: center; /* This will center the buttons horizontally */
  gap: 10px; /* This adds space between your buttons */
}

.nav-button {
  padding: 10px 20px;
  border: 1px solid #8b8c8d;
  background-color: #bbdce9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-model-button {
  padding: 10px 20px;
  border: 1px solid #e13c3c;
  background-color: #99e19e;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover, .user-model-button:hover{
  background-color: #f8f9fa;
}

.article-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  flex-direction: column;/* Stack items vertically */
  align-items: flex-start; /* Align items to the start of the flex container */
}

.article-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: row; /* Lay items out horizontally */
  width: 100%; /* Take full width */
}

.article-expanded-info {
  display: none; /* Hide by default */
}

.article-card:hover .article-expanded-info {
  display: block; /* Show on hover */
}

.article-card:hover {
  border-color: #000; 
  background-color: #faf4e3; 
}

.article-text {
  flex-grow: 1;
  padding: 1rem;
}

.article-image-container {
  flex-shrink: 0;
  width: 120px; /* Adjust as needed */
  height: 120px; /* Adjust as needed */
  overflow: hidden;
}

.article-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Additional styles */
.title {
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.time {
  font-size: 0.75rem; 
  color: #6c757d; 
  margin-bottom: 1.5rem; 
}

.article-meta {
  font-size: 0.8rem;
  color: #555;
}

.description {
  margin-left: 1rem;
}

.keywords {
  margin-left: 1rem;
}

.keyword {
  display: inline-block;
  background-color: #e7fafa;
  padding: 0.3rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.7rem;
}

.text-muted {
  font-size: 0.875rem;
}

.article-link {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color from parent */
}

/* ArticlePage.css */

.article-page {
  padding: 1rem;
  max-width: 800px; /* Or your preferred max width */
  margin: 0 auto; /* Center the content */
}

.author-and-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.author {
  margin: 0;
}

.date {
  margin: 0;
  font-style: italic;
  color: #666; /* This is a light grey, but choose a color that fits your design */
}

.article-page img {
  width: 100%;
  height: auto;
  margin: 1rem 0; /* Add some space around the image */
}

.reaction-buttons {
  /* Align the buttons horizontally */
  display: flex;
  gap: 10px; /* Adjust the space between buttons */
}

.like-button {
  border: none;
  color: white; /* Text color */
  padding: 10px 20px; /* Padding inside the buttons */
  font-size: 1rem; /* Text size */
  border-radius: 50rem; /* Pill shape */
  cursor: pointer; /* Mouse pointer */
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
  background-color: #0d6efd; /* Example blue background for like button */
}

/* Adjust icon sizes if needed */
.fa-thumbs-up,
.fa-thumbs-down {
  font-size: 1.2rem;
}

.like-button.active {
  background-color: #007bff; 
  color: white;
}

.like-button {
  /* Initial button styling */
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  color: #333;
}

